*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Figtree", sans-serif;
}
.card{
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
    padding: 1.2rem;
    max-width: 22rem;
    box-shadow: 0.5rem 0.5rem;
    
}
.img{  
    width: 100%;
    border-radius: 0.8rem;
}
.learning{
    background-color:hsl(47, 88%, 63%); 
    display: inline-block;
    padding: 0.4rem  1rem;
    border-radius: 6px;
    margin: 0.7rem 0rem;
    
}

.publish-date{
    margin:0.5rem 0rem;
    font-size: 0.9rem;  
}

h2{
    margin: 0.9rem 0rem;
    font-size: 1.3rem;
}
.text{
    color:hsl(0, 0%, 42%) ;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 0.89rem;
    
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 0rem;
}
.author-img{
    width: 2.5rem;
}
.author>p{
    font-weight: 950;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:hsl(47, 88%, 63%); 
}
